@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #181818;
  color: #fff;
  overflow: hidden;
}

h1,
h3 {
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.default-menu {
  display: flex;
  flex: 1;
}

.auth-menu {
  flex-grow: 1;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
}

/* Sign Up */
.signup {
  margin: auto;
}

.signup h1 {
  text-align: center;
}

.signup form {
  padding-bottom: 3rem;
}

.signup label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

/* Log In */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

.login form {
  width: 80%;
  padding-bottom: 3rem;
}

.login label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

.text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

.primary-button {
  width: 100%;
}

.login .secondary-button,
.or {
  width: 80%;
}

.login .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

.login .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

.login .or span {
  color: #ccc;
  padding: 0 0.8rem;
}

.demo-content .demo-user-text p{
  
}

/* Showcase */
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.showcase .showcase-content {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.showcase .showcase-content p {
  text-decoration: underline;
}

/* Footer */
.main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 5rem;
}

/* Buttons */
.primary-button {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #f96816;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.primary-button:hover {
  background-color: #ff7b39;
}

.secondary-button {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-button:hover {
  border-color: #ff7b39;
  color: #ff7b39;
}

#create-account-button {
  margin-bottom: 1.2rem;
}

/* Auth Menu */
.auth-menu h3, #logout-button {
  text-align: center;
  margin: auto;
}

.auth-menu h3 {
  padding: 20px
}

.column-layout {  
  margin: 40px auto 0 auto;
  line-height: 30px;
}

.transactions-list {
  padding: 7px;
}

.accounts-list {
  padding: 7px;
}

.budgets-list {
  padding: 7px;
}

.table {
  border: 1px solid #fff;
  font-size: 13px;
  font-weight: bold;
}

/* Media Queries */
@media (min-width: 1000px) {
  .column-layout {
    display: flex;
  }

  .budgets-list {
    flex: 1;
    order: 1;
  }

  .transactions-list {
    flex: 2;
    order: 2;
  }

  .accounts-list {
    flex: 1;
    order:3
  }

}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  .right {
    display: none;
  }

  .left {
    justify-content: start;
    margin-top: 2vh;
    margin: auto;
  }

  .login .text-input {
    margin-bottom: 0.7rem;
  }

  .main-footer {
    padding-top: 1 rem;
  }
}

@media (max-width: 250px) {
  .secondary-button {
    font-size: 13px;
  }
}